

<div class="jumbotron">
	<div class="container"></div>
</div>
	{{!-- sidebar --}}
	<div class="container">
		<h1 class="col-xs-12">Open Data Sites</h1>
		<h4>Explore our Open Data Site Showcase to see what others have done with Open Data sites. Filter by region to narrow or expand the scope.</h4>

		<div class=" col-xs-12 col-sm-4" id="categories">
			<aside id="sidebar-left" class="sidebar-navigation">
				<h2>Filter By</h2>
					<div class="ember-view filter-items-group">
						<label class="filter-headings">Tags</label>
							<div class="ember-view form-group filter-items-group">
								<div class="checkbox">
									<label class="selected-checkbox">
									{{#link-to (query-params scope='') id="all" class="ember-view" type="checkbox"}}All{{/link-to}}
									</label>
									<br>
									<label>
								   	{{#link-to (query-params scope='local') id="Local" class="ember-view"}}Local{{/link-to}}
								   	</label>
								   	<br>
								   	<label>
								   	{{#link-to (query-params scope='state') id="state" class="ember-view"}}State{{/link-to}}
								  	</label>
								  	<br>
								  	<label>
								   	{{#link-to (query-params scope='national') id="national" class="ember-view"}}National{{/link-to}}
								  	</label>
								  	<br>
								  	<label>
								   	{{#link-to (query-params scope='international') id="international" class="ember-view"}}International{{/link-to}}
								  	</label>
								  	<br>
								  	<label>
								   	{{#link-to (query-params scope="ngo") id="ngo" class=" ember-view"}}Non-governmental Organizations{{/link-to}}
								   	</label>
								</div>
							</div>
					</div>
			</aside>
		</div>


	{{!-- /sidebar --}}

		<div id="content" class="col-xs-12 col-sm-8">
			<div  class="row">				
				<br>
			    	{{#each filteredSites as |site|}}
								<div class="col-xs-12 col-md-6 col-lg-4 ">
									<div class="thumbnail">
										<div class="overlay gallery-hover">
											<a title="{{site.properties.title}}" href="{{site.properties.url}}" target="_blank">
											<span class="glyphicon glyphicon-link"></span>
												<img src="{{site.properties.img}}" alt="...">
											</a>
										</div>
									</div>
										<div class="caption">
											<p class="text-center"><a title="{{site.properties.title}}" href="{{site.properties.url}}" target="_blank">{{site.properties.title}}</a></p>
												<p></p>
										</div>
									</div>

			    	{{/each}}  
								</div>
			</div>
		
	</div>

		<footer class="footer one-line hidden-xs col-sm-2 col-md-3" role="contentinfo">
			<div class="container">
				<div class="row"> 
					<div class="col-xs-12 col-sm-8 col-md-9">
						<ul class="text-muted list-inline">
						<li>© 2017 Esri</li>
						<li>|</li>
						<li>
							<a href="http://www.esri.com/legal/privacy" target="_blank" class="ember-view">Privacy</a>
						</li>
						<li>|</li>
						<li>
							<a href="http://www.esri.com/legal/software-license" target="_blank" class="ember-view">Terms of Use</a>
						</li>
						</ul>
					</div>		
							<a href="http://www.esri.com/" target="_blank" class="ember-view"><img src="http://prod-od-umbrella.s3-website-us-east-1.amazonaws.com/assets/images/logo-esri-footer-6065f972b9b92cce5e3fc5866257f69f.jpg" alt="About Esri"></a>
						

				</div>
			</div>
		</footer>